{% extends 'base.html.twig' %}

{% block title %}Bienvenue {% endblock %}

{% block body %}
    <div class="row">
        <div class="jumbotron">
            <h1>Bienvenue</h1>
            <p>Dev Network est le réseau n°1 des developpers à travers le monde (rien que ça ;) )</p>
        </div>
    </div>

{% endblock %}
