{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="col-md-4 col-md-offset-4">
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ username }}" required />
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" class="form-control" id="password" name="_password" required />
            </div>
            <p>
                <button type="submit" class="btn btn-primary">login</button>
                <a href="" class="pull-right">Mot de passe perdu?</a>
            </p>
        </form>
    </div>

{% endblock %}