{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.nom }} {{ user.prenom }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default well" id="bloc_write_message">
                <div class="panel-body">
                    <form action="">
                        <div class="form-group">
                            <label for="message">Messages</label>
                            <textarea class="form-control" rows="5" id="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <strong>Nom - Prenom</strong>
                        <span class="pull-right">
                            Status (Amis / Followers)
                        </span>
                    </p>
                    <hr>
                    <p>messages.............................................................................................................</p>
                    <hr>
                    <p>
                        Commentaires (2) | Partages (5)
                        <span class="pull-right">
                            <a href="" class="btn btn-success btn-xs">Partager</a>
                        </span>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Amis</a>
                </li>
                <li role="presentation">
                    <a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a>
                </li>
                <li role="presentation">
                    <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projets</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="friends">
                    <em>liste des 10 derniers amis avec les amis communs</em>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            Cras justo odio
                        </li><li class="list-group-item">
                            <span class="badge">1</span>
                            Cras justo odio
                        </li>
                    </ul>
                    <a href="">Voir tous les amis</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="followers">
                    liste des 10 derniers followers
                    <ul class="list-group">
                        <li class="list-group-item">
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            Cras justo odio
                        </li><li class="list-group-item">
                            Cras justo odio
                        </li>
                    </ul>
                    <a href="">Voir tous les followers</a>
                </div>
                <div role="tabpanel" class="tab-pane" id="projects">
                    liste des projets sur lesquel le user est intervenue
                </div>
            </div>
        </div>
    </div>

{% endblock %}
