<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dev NetWork</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('app_default') }}">Accueil</a></li>
                            <li><a href="{{ path('app_users') }}">Users</a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}">Login</a></li>
                            <li><a href="{{ path('app_sign_in') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" placeholder="Recherche" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Go</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
