{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <div class="row">
        {% if users is not empty and users is defined %}
            {% for user in users %}
                <div class="col-md-3">
                    <div class="panel panel-default well">
                        <div class="panel-body">
                            <p>
                                <strong><a href="{{ path('app_show_user', {id: user.id}) }}">{{ user.nom }} {{ user.prenom }}</a></strong>
                                <span><a href="{{ path('app_follow_user', {id: user.id}) }}">Follow</a></span>
                            </p>
                            <p>
                                <span class="label label-warning">{{ user.posts }} messages</span>
                                <span class="label label-info">{{ user.followers }} followers</span>
                                <span class="label label-success">1 amis</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
